@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		url('/src/sass/fonts/DMSans-Medium.ttf') format('truetype'),
		url('/src/sass/fonts/DMSans-Medium.woff') format('woff'),
		url('/src/sass/fonts/DMSans-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('/src/sass/fonts/DMSans-Regular.ttf') format('truetype'),
		url('/src/sass/fonts/DMSans-Regular.woff') format('woff'),
		url('/src/sass/fonts/DMSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		url('/src/sass/fonts/Poppins-Bold.ttf') format('truetype'),
		url('/src/sass/fonts/Poppins-Bold.woff') format('woff'),
		url('/src/sass/fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		url('/src/sass/fonts/Poppins-Medium.ttf') format('truetype'),
		url('/src/sass/fonts/Poppins-Medium.woff') format('woff'),
		url('/src/sass/fonts/Poppins-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('/src/sass/fonts/Poppins-Regular.ttf') format('truetype'),
		url('/src/sass/fonts/Poppins-Regular.woff') format('woff'),
		url('/src/sass/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
		url('/src/sass/fonts/Poppins-Light.ttf') format('truetype'),
		url('/src/sass/fonts/Poppins-Light.woff') format('woff'),
		url('/src/sass/fonts/Poppins-Light.woff2') format('woff2');
}